* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Orbitron, SymbolsNerdFontMono;
    font-weight: bold;
    font-size: 13px;
    background-color: transparent;
    padding: 0 5px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#waybar.top > box.horizontal {
  margin-left: 10pt;
  margin-right: 10pt;
  margin-top: 10pt;
  background-color: rgba(0, 0, 0, 1);
  background: 
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)) padding-box,
    linear-gradient(to right bottom, #AC5A63, #FFE04E) border-box;
  border: 3px solid transparent;
  padding: 5pt 2pt;
  border-radius: 15px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover{
	box-shadow: none;
	text-shadow: none;
	background: none;
	transition: none;
}

#workspaces {
	min-height: 0;
	margin: 0px;
	transition: all 0.3s ease-in-out;

}
#workspaces button {
	color: transparent;
	background: linear-gradient(to right top, #6CBBF5, #6CF5E9); 
	transition: all 0.3s ease-in-out;
	min-width: 0px;
	margin: 0 5px;
	border-radius: 16px;
	border: none; /* This is needed to fix the weird hover effect */
}

/* This is the workstation you are currently on */
#workspaces button.active {
   	background: linear-gradient(to right bottom, #e3cf76, #bd3c59);
	color: transparent;
	transition: all 0.3s ease-in-out;
	border-radius: 9999px;
	min-width: 80px;
}

#workspaces button:hover {
    background: linear-gradient(90deg, #bd3c59 0%, #e3cf76 100%);
    color: transparent;
    border-radius: 16px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;

}

#workspaces button.urgent {
    background: linear-gradient(90deg, blue 0%, green 100%);
    color: #DAD2D8;
    border-radius: 16px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;

}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* MODULES */

#clock{
	color: #DAD2D8;
}

#bluetooth{
	color: #DAD2D8;
}

#pulseaudio{
	color: #DAD2D8;
}

#network{
	font-weight: normal;
	color: #DAD2D8;
}

#custom-power{
	padding-right: 10px;
	font-weight: normal;
	font-size: 15px;
	color: #DAD2D8;
}

#custom-logo{
	padding-left: 10px;
	font-size: 15px;
}
